.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.nav_black {
  background-color: black;
}

.nav_logo {
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
