.row_posters {
  display: flex;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}
